* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  /* background: red; */
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f1f2eb;
  height: 100vh;
  padding: 0 3rem 2rem 3rem;
}

.signup img {
  width: 12%;
  height: 30%;
}

form {
  border: transparent;
  width: 50%;
  max-width: 600px;
  height: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 2rem 0 2rem;
  padding-left: 4rem;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px lightgray;
  position: relative;
  padding-top: 5rem;
}

.input {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 90%;
  /* background: lightpink; */
}

.input input {
  height: 30%;
  padding-left: 0.5rem;
  border: none;
  border-bottom: 1px solid #131313;
  /* background: #F1F2EB; */
}

.input input:focus {
  outline: none;
  background: #f1f2eb;
}

form button {
  width: 50%;
  height: 50%;
  margin-left: 70%;
  /* margin-top: 10%; */
  border-radius: 1rem;
  background-color: #f7ce26;
  color: #131313;
  border: transparent;
  box-shadow: 5px 5px 10px lightgray;
  font-weight: bold;
  cursor: pointer;
}

form button:active {
  background-color: #131313;
  color: #f7ce26;
}

form h2 {
  position: absolute;
  top: 1rem;
  left: 3.7rem;
}

.input span {
  color: red;
  font-size: 14px;
  padding-top: 5px;
}

a {
  position: absolute;
  top: 28rem;
  right: 14rem;
  text-decoration: none;
  color: #131313;
}

a:hover {
  color: orange;
}

/* Responsive styles */
@media (max-width: 768px) {
  .signup {
    padding: 0 1rem 2rem 1rem;
  }

  .signup img {
    width: 20%;
    height: auto;
  }

  form {
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  form button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  a {
    top: 26rem;
    right: 2rem;
  }
}

@media (max-width: 480px) {
  .signup {
    padding: 0 0.5rem 1rem 0.5rem;
  }

  .signup img {
    width: 30%;
    height: auto;
  }

  form {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  form button {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    top: 25rem;
    right: 1rem;
  }
}
